<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643531564242-diajq5f0gu5fhaq31t1m3rdndbjdfed1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643531564242-diajq5f0gu5fhaq31t1m3rdndbjdfed1</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxqRGbC38rC8ndDCj4YBZFDS8qv2Crfw</string>
	<key>GCM_SENDER_ID</key>
	<string>643531564242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsupp</string>
	<key>PROJECT_ID</key>
	<string>newneowhats</string>
	<key>STORAGE_BUCKET</key>
	<string>newneowhats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643531564242:ios:95fe559e91d3dafa92f90b</string>
</dict>
</plist>